header {
  margin-top: 2rem;
  margin-left: 2rem;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 11.4rem 1fr;

  grid-template-areas:
    "header header"
    "left right";
}

header {
  grid-area: header;
}

#bg {
  grid-area: left;
  background: url("/assets/bg-home.svg") no-repeat top/cover;
  z-index: -1;
  position: relative;

  width: 50rem;
  height: 50rem;
}

main {
  grid-area: right;
  display: flex;
  flex-direction: column;
  margin: 0 2rem 0 2rem;
  justify-content: center;
  max-width: 50rem;
  min-width: 25rem;
}

main .container {
  width: min(36.3rem 100%);
}

main h2 {
  font-family: "Poppins", sans-serif;
  color: var(--black);
  font-size: clamp(20px, 5vw, 2.8rem);
  margin-bottom: 2.4rem;
}

input {
  border: 0.2rem solid var(--grey-blue);
  padding: 0 1.6rem;
}

input,
button,
.button {
  width: 100%;
  margin-bottom: 1.8rem;
}
